/**
* MAIN NAVIGATION
**/
.main-navigation, .landing-navigation{
    font-family: 'Oswald', sans-serif;
    font-size:20px;
    font-weight:300;
    text-transform: uppercase;
}
.landing-navigation ul li {
    padding:10px;
}

@media(min-width:910px){
    .dropdown-toggle:after{
        border:none;
    }
    .img-menu ul{
        width:100%;
        height:100%;
    }
    .nav-img-list a{
        max-height:190px;
        margin: 5px;
        overflow:hidden;
        padding:0;
    }
    
    .main-navigation .nav-img-list:hover > a{
        color:#fff;
    }
    .nav-title{
        text-align:center;
        margin-top:-120px;
        padding-top:50px;
        padding-bottom:50px;
    }
    .nav-title:hover{
        color:#fff;
    }
    .main-navigation ul .img-menu li{
        display:inline-block;
        margin:auto;
        overflow: hidden;
        border:none;
    }

    .main-navigation ul .img-menu ul{
        display:inline-block;
        text-align:center;
        position:fixed;
        background-color:#fff;
        width: 100%;
        height:auto;
        max-height: 250px;
        margin:auto;
        padding:0px 5%;
    }
    .nav-img{
        max-height:120px;
        width:auto;
        vertical-align: top;
    }

    .nav-img-list a .menu-image-title {
        padding-bottom: 80px;
        margin-top: -327px;
        padding-top: 80px;
        display: block;
        width:100%;
        color:#fff;
    }

    .menu-item a.menu-image-title-below.menu-image-not-hovered img{
        width:125%;
        height:125%;
    }
    .menu-item a.menu-image-hovered img.hovered-image, .menu-item a.menu-image-hovered:hover img.menu-image{
         width:125%;
         height:125%;
    }
    .menu-item a img{
        width:125%;
        height:125%;
    }
    .nav-img-list a .menu-image-title:hover{
        background-color:#000;
        z-index:10000;
    }
}
@media(max-width:910px){
    .main-navigation ul .img-menu ul{
        position:inherit;
        padding:0;
        background-color:rgba(0,0,0,0);
    }
    .sub-menu >.toggled-on{
        display:block;
    }
    .sub-menu li a img {
        display:none;
    }
    .sub-menu li a{
        color:#999;
    }
    .nav-img-list a .menu-image-title {
        /*color:#2c2c2c;*/
        margin:0;
    }
    .nav-img-list a .menu-image-title:hover{
        color:#91B851;
    }
    .nav-img-list:hover{
        background-color:#000;
    }
    .dropdown-toggle:after{
        border:0;
    }
    .menu-item a.menu-image-title-below.menu-image-not-hovered img{
        display:none;
    }
    .menu-item a.menu-image-title-below{
        text-align:right;
    }

}

/*********** GENERAL ************/
.home-sections{
    max-width:100%;
}
.main-navigation li:hover > a, .main-navigation li.focus > a, .site-branding .site-title a:hover, .site-branding .site-title a:focus {
    color:#91B851;
}
button, input[type="button"]{
    font-family: 'Open Sans', sans-serif;
    font-size:16px;
    padding:12px;
    margin:15px;
    border:none;
    background-color:#91B851;
    color:#fff;
}
button:hover, input[type="button"]:hover{
    background-color:#2c2c2c;
    border:none;
}
a:hover{
    text-decoration: none;
    color:#91B851;
}
.margin{
    margin-top:140px;
}
.thin-margin{
    margin-top:50px;
}
.no-margin{
    margin:0;
}
.margin-top{
    margin:0;
    margin-top:20px;
}
.padding-top{
    padding-top:50px;
}
.top15 {
    top:15%;
}
.darken{
    background-color:rgba(0,0,0,0.4);
}
.black{
    background-color:#2c2c2c;
}
.white{
    background-color:#fff;
    color:#2c2c2c;
}
.green{
    color:#91B851;
}
.overlay{
    background-color:rgba(255,255,255,0.75);
    z-index:5;
    margin-top:-115px;
    height:305px;
}
.clear-button, input#home-contact-submit, input.clear-button{
    background-color:rgba(0,0,0,0);
    color:#fff;
    border:1px solid #fff;
}
.clear-button:hover, input#home-contact-submit:hover, input.clear-button:hover{
    background-color:#91B851;
    border:1px solid #91B851;
}
.circle{
    border-radius:50%;
}
.right{
    float:right;
}
.left{
    float:left;
}
.site-main{
    margin-bottom:0;
}
.custom-logo{
    width:150px;
    height:auto;
    padding:5px;
}
.main-navigation .primary-menu > li{
    float:none;
    display: inline-block;
}
#menu-toggle{
    z-index:1000;
}

@media (max-width:992px){
    .main-navigation li, .main-navigation .primary-menu{
        border:none;
    }
    .site-header-main{
        padding:0px 30px;
    }
    .thin-margin{
        margin-top:0;
    }
}
@media (max-width:910px){
    .main-navigation ul .img-menu li{
        display:block;
        text-align:right;
        padding:0;
    }
    .nav-img-list a{
        margin:0;
    }
    .main-navigation a{
        padding: 0.34375em 0;
    }
    .main-navigation .primary-menu > li{
        display: block;
        text-align:right;
    }
    .site-header-menu.toggled-on{
        position: absolute;
        margin-top: 0;
        height: 100vh;
        width: 100%;
        z-index:100;
        right: 0;
        background-color: rgba(0,0,0,0.6);
    }
    #site-navigation{
        position: absolute;
        margin-top: 0;
        padding: 100px 30px 20px 20px;
        height: 100vh;
        width: 250px;
        right: 0;
        background-color: #fff;
        z-index:100;
    }

}
/*********** STICKY HEADER ************/
#masthead, .masthead-home{
    z-index:100;
    -webkit-transition: all 0.6s ease;
    transition: all 0.6s ease;
}
#masthead.sticky, .masthead-home.sticky {
    position:fixed;
    top:0;
    width:100%;
    height: 55px;
    z-index: 100;
    background-color:#fff;
}
@media(max-width:992px){
    #masthead.sticky {
        height:55px;
    }
}

/*********** IMAGE SLIDER SWIPER ************/
#home-imageslider, #home-video {
    height:100vh;
    width:100%;
    color:#fff;
}
.swiper-container{
    height:100%;
    color:#fff;
}
.swiper-slide{
    background-size:cover;
    background-color:#fff;
}
.slider-title{
    margin-top:50vh;
    text-align: center;
}
#landing-nav{
    color:#fff;
    text-align: center;
    margin-top: 10%;
}
#landing-nav a{
    color:#fff;
}
#landing-nav a:hover{
    color:#91B851;
}
#menu-landingnav-i, #menu-landingnav-i li, #menu-landingnav-v, #menu-landingnav-v li{
    display:inline-block;
    border:none;
}
@media(max-width:992px){
    .landing-nav{
        display:none;
    }
}

/*********** LANDING VIDEO ************/
.homepage-hero-module {
    border-right: none;
    border-left: none;
    position: relative;
    height:100vh;
}
.no-video .video-container video,
.touch .video-container video {
    display: none;
}
.no-video .video-container .poster,
.touch .video-container .poster {
    display: block !important;
}
.video-container {
    position: relative;
    bottom: 0%;
    left: 0%;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background: #000;
}
.slider-logo{
    display:block;
    margin:auto;
    max-height:200px;
    width:auto;
}
.title-container{
    z-index: 1000;
    position: absolute;
    top: 30%;
    height:60%;
    width: 100%;
    text-align: center;
    color: #fff;
}

video#bgvid { 
    position: absolute;

    min-width: 120%;
    min-height: 100%;
    width: auto;
    height: auto;
    /*background: url(../img/Sunset-Lapse.jpg) no-repeat;*/
    background-size: cover; 
}
@media (max-width:992px){
    video#bgvid { 
        min-width:250%;
    }
}
@media (max-width:450px){
    video#bgvid { 
        min-width:320%;
    }
}

/*********** ABOUT ************/
#home-about{
    padding-top:250px;
    padding-bottom:250px;
}
.about-title, .about-desc{
    text-transform: uppercase;
}

/*********** CLASSES ************/
.home-classes{
    color:#333;
    height:320px;
    text-align:center;
    vertical-align: middle;
    padding:0;
}
.classes{
    margin: 0;
    padding-top: 139px;
    padding-bottom: 135px;
    color: #fff;
    background-size: cover;
}
.classes:hover {  
    background:rgba(0,0,0,.5);
    -webkit-transition: opacity .25s ease;
    -moz-transition: opacity .25s ease;
    cursor:pointer;
}

/*********** TRAINERS ************/
#home-trainers{
    height:640px;
    background-color:#000;
    color:#fff;
}
.trainer-name, .trainer-title{
    width: 40%;
    margin-left: 10%;
    margin-right:0px;
    display:inline-block;
}
.trainer-button{
    margin-left: 10%;
    vertical-align: bottom;
}
.trainer-button{
    margin-left:0px;
}
/*********** TRAINERS ACCORDION ************/
.accordion-wrapper {
    overflow:hidden;
    display:block;
    position:relative;
    display:inline-block;
}
.wrapper {
    width: 100%;
}
.slide {
    max-width:100%;
    overflow: hidden;
    display:block;
    position:absolute;
    cursor: pointer;
    float:left;
    display: inline-block;
    zoom: 1;
}
.slide img {
    position:relative;
}
.caption {
    position:absolute;
    background:rgba(1, 1, 1, 0.6);
    padding:20px;
    width:100%;
    left:0;
}
.caption h1 {
    margin-bottom:5px;
}

@media(max-width:992px){
    #home-trainers{
        height:900px;
    }
    .slide{
        max-height:300px;
        position:relative;
    }
    .slide img {
        width:100%;
    }
    .caption{
        bottom:0;
        padding:0;
    }
    .caption h1{
        margin-bottom:0;
    }
    .caption h2{
        margin-top:0;
    }
    .caption button{
        margin-top:-10px;
    }
}

/*********** FEATURE ************/
#home-feature{
    height:420px;
}
.feature-buttons{
    margin-top:50px;
    margin-bottom:50px;
}
.features{
    margin-top:50px;
}
.title-padding{
    padding-top:140px;
}
.center{
    text-align:center;
}
.row{
    margin:0;
}
/*********** PRICING ************/
#home-pricing{
    color:#fff;
}
#home-pricing:hover{
    cursor:pointer;
}
.pricing-bg{
    background-size:cover;
    overflow:hidden;
    height:445px;
    padding-top:115px;
    background-position:top left;
    background-position:bottom;
    color:#2c2c2c;
}
.pricing-content{
    margin-top:-215px;
}
.pricing-footer{
    height:140px;
    margin-top:34px;
    padding:55px;
    background-position: center;
    color: #fff;
    background-size: cover;
}

/*********** BLOG ************/
#home-blog{
    background-color:#fff;
    padding:90px 0px 90px 0px;
}
.blog-grid{
    margin-top: 50px;
}
.indv-blog-grid{
    display:inline-block;
    height:295px;
    margin:0;
    margin-left:-6px;
    padding:0;
}
.indv-blog-title{
    position: absolute;
    text-align: center;
    width: 295px;
    margin: auto;
    margin-top: -295px;
    color: #fff;
    padding: 133px 0px 132px 0px;
}
.indv-blog-title:hover{
    background-color:rgba(0,0,0,0.5);
    cursor:pointer;
    max-height:295px;
}

/*********** CALL TO ACTION ************/

#home-calltoaction{
    height:300px;
    background-size:cover;
    color:#fff;
    padding-top:70px;
}
    
/*********** TESTIMONIAL ************/

#home-testimonials{
    height:500px;
    background-color:#fff;
    color:#000;
    text-align: center;
}
.testimonial-body{
    color:#2c2c2c;
    width:60%;
    margin:auto;
}
.testimonial-author{
    color:#666;
    font-style:italic;
    text-align:center;
}
#testimonial-swiper{
    height:200px;
    margin-top:50px;
}
@media(max-width:992px){
    #testimonial-swiper{
        height:300px;
    }
    #home-testimonials{
        height:600px;
    }
}

/*********** CONTACT ************/
.contact-bottom {
    color:#fff;
    background-size:cover;
    padding-top:50px;
    height:750px;
}
#contact-map{
    height:500px;
}
.home-contact-input, .newsletter-signup input{
    width:100%;
    padding:5px;
    margin:10px 0px 10px 0px;
    color:#2c2c2c;
    font-size:16px;
    height:45px;
}
#home-contact-msg{
    height:150px;
}
input#home-contact-submit, #newsletter-submit{
    margin:5px 0px 5px 0px;
    padding:12px;
    float:right;
}
.contact-location{
    height: 420px;
    padding:25px;
}

.newsletter-signup{
    margin-top:50px;
    height:200px;
}
.contact-info{
    width:40%;
    margin-top:-180px;
}
.contact-socialmediaicons {
    width: 100%;
    color:#fff;
    text-align: center;
    margin-top: 25px;
    margin-bottom:10px;
}
.social-navigation a{
    color: #000;
    background-color: #fff;
}
.social-navigation li{
    float:none;
    display:inline-block;
}
.footermediaicons{
    margin:10px;
}
.contact-form, .contact-form-title{
    float:right;
}
@media (max-width:992px){
    .contact-info{
        width:100%;
    }
    .contact-form{
        float:none;
    }
    .contact-bottom {
    height: 1130px;
    }
    #newsletter-submit, #home-contact-submit{
        width:100%;
    }
}

/*********** FOOTER ************/
.site-footer{
    background-color: rgba(0,0,0,0.7);
    padding:0;
    text-align:center;
    color:#fff;
    height: 140px;
    margin-top: -140px;
}
.site-info{
    width: 100%;
    color: #fff;
}
.site-info a, .site-title a{
    color:#eee;
    text-decoration: none;
}
.site-info a:hover, .site-title a:hover{
    color:#fff;
    text-decoration: none;
}
.footer-navigation {
    width:100%;
    padding-top:40px;
}
.footer-navigation ul {
    list-style: none;
    margin: 0;
}
.footer-navigation li {
    display: inline-block;
    margin: 0 0.4375em 0.4375em 0;
}
.footer-navigation a {
    color: #eee;
    display: block;
}
.footer-navigation a:hover{
    color:#fff;
    text-decoration: underline;
}
.menu-footernav-container{
    height:30px;
}
@media (min-width:992px){
    .site-info{
        margin-top:-25px;
    }
    .footer-navigation{
        padding-top:30px;
    }
}
