/*********** FONT STYLES ************/
@import url(https://fonts.googleapis.com/css?family=Open+Sans|Oswald:400,300);

h1{
    font-family: 'Oswald', sans-serif;
    font-size:36px;
    font-weight:400;
    text-transform: uppercase;
}
h2{
    font-family: 'Oswald', sans-serif;
    font-size:24px;
    font-weight:300;
    text-transform: uppercase;
}
h3{
    font-family: 'Open Sans', sans-serif;
    font-size:20px;
    text-transform: uppercase;
}
body{
    font-family: 'Open Sans', sans-serif;
    font-size:14px;
    color:#2c2c2c;
}
.main-navigation{
    font-family: 'Oswald', sans-serif;
    font-size:20px;
    font-weight:300;
    text-transform: uppercase;
}
button{
    font-family: 'Open Sans', sans-serif;
    font-size:16px;
    padding:12px;
    margin:15px;
    text-transform: uppercase;
    background-color:#91B851;
    color:#fff;
    border:none;
}
button:hover{
    background-color:#2c2c2c;
    border:none;
}
input{
    font-family: 'Open Sans', sans-serif;
    font-size:16px;
}

/*********** GENERAL ************/
.home-sections{
    max-width:100%;
}
.main-navigation li:hover > a, .main-navigation li.focus > a, .site-branding .site-title a:hover, .site-branding .site-title a:focus {
    color:#91B851;
}
a:hover{
    text-decoration: none;
    color:#91B851;
}
.darken{
    background-color:rgba(0,0,0,0.4);
}
.green{
    color:#91B851;
}
.overlay{
    background-color:rgba(255,255,255,0.75);
    z-index:5;
    margin-top:-115px;
    height:305px;
}
.clear-button, input#home-contact-submit{
    background-color:rgba(0,0,0,0);
    color:#fff;
    border:1px solid #fff;
}
.clear-button:hover, input#home-contact-submit:hover{
    background-color:#91B851;
    border:1px solid #91B851;
}
.circle{
    border-radius:50%;
}
.site-main{
    margin-bottom:0;
}
.custom-logo{
    width:150px;
    height:auto;
    padding:5px;
}
.main-navigation .primary-menu > li{
    float:none;
    display: inline-block;
}
#menu-toggle{
    z-index:100;
}

@media (max-width:992px){
    .main-navigation li, .main-navigation .primary-menu{
        border:none;
    }
    .site-header-main{
        padding:0px 30px;
    }
}
@media (max-width:910px){
    .main-navigation a{
        padding: 0.34375em 0;
    }
    .main-navigation .primary-menu > li{
        display: block;
        text-align:right;
    }
    .site-header-menu.toggled-on{
        position: absolute;
        margin-top: 0;
        height: 100vh;
        width: 100%;
        right: 0;
        background-color: rgba(0,0,0,0.6);
    }
    #site-navigation{
        position: absolute;
        margin-top: 0;
        padding: 100px 30px 20px 20px;
        height: 100vh;
        width: 200px;
        right: 0;
        background-color: #fff;
    }
}
/*********** STICKY HEADER ************/
#masthead{
    
    z-index:100;
    -webkit-transition: all 0.6s ease;
    transition: all 0.6s ease;
}
#masthead.sticky {
    position:fixed;
    top:0;
    width:100%;
    height: 100px;
    z-index: 100;
    background-color:#fff;
}
@media(max-width:992px){
    #masthead.sticky {
        height:55px;
    }
}

/*********** IMAGE SLIDER SWIPER ************/
#home-imageslider, #home-video {
    height:100vh;
    width:100%;
    color:#fff;
}
.swiper-container{
    height:100%;
    color:#fff;
}
.swiper-slide{
    background-size:cover;
    background-color:#fff;
}
.slider-title{
    margin-top:50vh;
    text-align: center;
}
#landing-nav{
    color:#fff;
    text-align: center;
    margin-top: 10%;
}
#landing-nav a{
    color:#fff;
}
#landing-nav a:hover{
    color:#91B851;
}
#menu-landingnav-i, #menu-landingnav-i li, #menu-landingnav-v, #menu-landingnav-v li{
    display:inline-block;
    border:none;
}
@media(max-width:992px){
    .landing-nav{
        display:none;
    }
}

/*********** LANDING VIDEO ************/
.homepage-hero-module {
    border-right: none;
    border-left: none;
    position: relative;
    height:100vh;
}
.no-video .video-container video,
.touch .video-container video {
    display: none;
}
.no-video .video-container .poster,
.touch .video-container .poster {
    display: block !important;
}
.video-container {
    position: relative;
    bottom: 0%;
    left: 0%;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background: #000;
}
.slider-logo{
    display:block;
    margin:auto;
    width:265px;
    height:245px;
}
.title-container{
    z-index: 1000;
    position: absolute;
    top: 30%;
    height:60%;
    width: 100%;
    text-align: center;
    color: #fff;
}
/*
.video-container .poster img {
    width: 100%;
    bottom: 0;
    position: absolute;
}
.video-container .filter {
    z-index: 100;
    position: absolute;
    background: rgba(0, 0, 0, 0.4);
    width: 100%;
}
.video-container video {
    position: absolute;
    z-index: 0;
    bottom: 0;
    background-size:cover;
}
.video-container video.fillWidth {
    height: 100%;
    width:auto;
    margin-bottom:0;
    overflow:hidden;
}*/

video#bgvid { 
    position: absolute;
    /*top: 50%;
    left: 50%;*/
    min-width: 120%;
    min-height: 100%;
    width: auto;
    height: auto;
    /*-ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);*/
    background: url(../img/Sunset-Lapse.jpg) no-repeat;
    background-size: cover; 
}
@media (max-width:992px){
    video#bgvid { 
        min-width:250%;
    }
}
@media (max-width:450px){
    video#bgvid { 
        min-width:320%;
    }
}

/*********** ABOUT ************/
#home-about{
    padding-top:250px;
    padding-bottom:250px;
}
.about-title, .about-desc{
    text-transform: uppercase;
}

/*********** CLASSES ************/
.home-classes{
    color:#333;
    height:320px;
    text-align:center;
    vertical-align: middle;
    padding:0;
}
.classes{
        margin: 0;
    padding-top: 144px;
    padding-bottom: 137px;
    color: #fff;
    background-size: cover;
}
.classes:hover {  
    background:rgba(0,0,0,.5);
    -webkit-transition: opacity .25s ease;
    -moz-transition: opacity .25s ease;
    cursor:pointer;
}

/*********** TRAINERS ************/
#home-trainers{
    height:640px;
    background-color:#000;
    color:#fff;
}
.trainer-name, .trainer-title{
    width: 40%;
    margin-left: 10%;
    margin-right:0px;
    display:inline-block;
}
.trainer-button{
    margin-left: 10%;
    vertical-align: bottom;
}
.trainer-button{
    margin-left:0px;
}
/*********** TRAINERS ACCORDION ************/
.accordion-wrapper {
    overflow:hidden;
    display:block;
    position:relative;
    display:inline-block;
}
.wrapper {
    width: 100%;
}
.slide {
    max-width:100%;
    overflow: hidden;
    display:block;
    position:absolute;
    cursor: pointer;
    float:left;
    display: inline-block;
    zoom: 1;
}
.slide img {
    position:relative;
}
.caption {
    position:absolute;
    background:rgba(1, 1, 1, 0.6);
    padding:20px;
    width:100%;
    left:0;
}
.caption h1 {
    margin-bottom:5px;
}

@media(max-width:992px){
    #home-trainers{
        height:900px;
    }
    .slide{
        max-height:300px;
        position:relative;
    }
    .slide img {
        width:100%;
    }
    .caption{
        bottom:0;
        padding:0;
    }
    .caption h1{
        margin-bottom:0;
    }
    .caption h2{
        margin-top:0;
    }
    .caption button{
        margin-top:-10px;
    }
}

/*********** FEATURE ************/
#home-feature{
    height:420px;
}
.feature-buttons{
    margin-top:50px;
    margin-bottom:50px;
}
.features{
    margin-top:50px;
}
.title-padding{
    padding-top:140px;
}
.center{
    text-align:center;
}
.row{
    margin:0;
}
/*********** PRICING ************/
#home-pricing{
    color:#fff;
}
#home-pricing:hover{
    cursor:pointer;
}
.pricing-bg{
    background-size:cover;
    overflow:hidden;
    height:445px;
    padding-top:115px;
    background-position:top left;
    background-position:bottom;
    color:#2c2c2c;
}
.pricing-content{
    margin-top:-215px;
}
.pricing-footer{
    height:140px;
    margin-top:50px;
    padding:55px;
    background-position: center;
    color: #fff;
    background-size: cover;
}

/*********** BLOG ************/
#home-blog{
    background-color:#fff;
    padding:90px 0px 90px 0px;
}
.blog-grid{
    margin-top: 50px;
}
.indv-blog-grid{
    display:inline-block;
    height:295px;
    margin:0;
    margin-left:-6px;
    padding:0;
}
.indv-blog-title{
    position: absolute;
    width: 295px;
    margin: auto;
    margin-top: -295px;
    color: #fff;
    padding: 134px 0px 134px 0px;
}
.indv-blog-title:hover{
    background-color:rgba(0,0,0,0.5);
    cursor:pointer;
}

/*********** CALL TO ACTION ************/

#home-calltoaction{
    height:300px;
    background-image:url("../img/unsplash_slider03.jpeg");
    background-size:cover;
    color:#fff;
    padding-top:70px;
}
    
/*********** TESTIMONIAL ************/

#home-testimonials{
    height:500px;
    background-color:#fff;
    color:#000;
    text-align: center;
}
.testimonial-body{
    color:#2c2c2c;
    width:60%;
    margin:auto;
}
.testimonial-author{
    color:#666;
    font-style:italic;
    text-align:center;
    /*margin-right:60px;*/
}
#testimonial-swiper{
    height:200px;
    margin-top:50px;
}
@media(max-width:992px){
    #testimonial-swiper{
        height:300px;
    }
    #home-testimonials{
        height:600px;
    }
}

/*********** CONTACT ************/
.contact-bottom {
    color:#fff;
    background-size:cover;
    padding-top:50px;
    height:750px;
}
#contact-map{
    height:500px;
}
.home-contact-input, .newsletter-signup input{
    width:100%;
    padding:5px;
    margin:10px 0px 10px 0px;
    color:#2c2c2c;
    font-size:16px;
    height:45px;
}
#home-contact-msg{
    height:150px;
}
input#home-contact-submit, #newsletter-submit{
    margin:5px 0px 5px 0px;
    padding:12px;
    float:right;
}
.contact-location{
    height: 420px;
    padding:25px;
}

.newsletter-signup{
    margin-top:50px;
    height:200px;
}
.contact-info{
    width:40%;
    margin-top:-175px;
}
.contact-socialmediaicons {
    width: 100%;
    color:#fff;
    text-align: center;
    margin-top: 25px;
    margin-bottom:10px;
}
.social-navigation a{
    color:#fff;
}
.social-navigation li{
    float:none;
    display:inline-block;
}
.footermediaicons{
    margin:10px;
}
.contact-form, .contact-form-title{
    float:right;
}
@media (max-width:992px){
    .contact-info{
        width:100%;
    }
    .contact-form{
        float:none;
    }
    .contact-bottom {
    height: 1100px;
    }
    #newsletter-submit, #home-contact-submit{
        width:100%;
    }
}

/*********** FOOTER ************/
.site-footer{
    background-color: rgba(0,0,0,0.7);
    padding:0;
    text-align:center;
    color:#fff;
    height: 140px;
    margin-top: -140px;
}
.site-info{
    width: 100%;
    color: #fff;
}
.site-info a, .site-title a{
    color:#eee;
    text-decoration: none;
}
.site-info a:hover, .site-title a:hover{
    color:#fff;
    text-decoration: none;
}
.footer-navigation {
    width:100%;
    padding-top:40px;
}
.footer-navigation ul {
    list-style: none;
    margin: 0;
}
.footer-navigation li {
    display: inline-block;
    margin: 0 0.4375em 0.4375em 0;
}
.footer-navigation a {
    color: #eee;
    display: block;
}
.footer-navigation a:hover{
    color:#fff;
    text-decoration: underline;
}
.menu-footernav-container{
    height:30px;
}
@media (min-width:992px){
    .site-info{
        margin-top:-25px;
    }
    .footer-navigation{
        padding-top:30px;
    }
}
.margin{
    margin-top:140px;
}