li#customize-control-slider_type_id {padding-bottom: 20px;border-bottom: 1px solid #CBD1DB;margin-bottom: 30px;}

#customize-theme-controls .customize-control.hideslider, .hideslider{ display:none!important;}
